@font-face {
    font-family: 'Barlow-Bold';
    src: url('../fonts/Barlow-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow-ExtraBold';
    src: url('../fonts/Barlow-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Barlow-Medium';
    src: url('../fonts/Barlow-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Barlow-ExtraBold';
    src: url('../fonts/Barlow-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Barlow-ExtraBold';
    src: url('../fonts/Barlow-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Barlow-ExtraBold';
    src: url('../fonts/Barlow-ExtraBold.ttf') format('truetype');
}
